/work/report/s04/a04/node_modules
/work/report/s04/a04/.env
/work/report/s04/a04/package-lock.json
/work/report/assets
/work/report/repo
/work/report/s03/school_script.js
/work/report/s03/flag_script.js
/work/report/s03/style.css