html,
body {
    margin: 0;
    font-family: moserrat;
}

section {
    margin-bottom: 150px;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.nav-bar {
    background-image: url('../assets/nav-bg.jpg');
    height: 200px;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 50%;
}

.nav-bar-top {
    display: flex;
    justify-content: space-between;
    background-color: rgb(80, 80, 77, 1);
    opacity: 0.8;
    flex-basis: 25%;
}

.nav-bar-bottom {
    flex-basis: 70%;
    background: transparent;
}

.bar-item-right {
    display: inherit;
    list-style-type: none;
}

.bar-item-left {
    margin-left: 10px;
}

li {
    display: block;
    margin: 10px;
    padding: 4px;
    font-family: moserrat;
}

.active {
    background-color: #999;
}

a {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-family: moserrat;
}

li :hover {
    background-color: #999;
}

.footer {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url('../assets/nav-bg.jpg');
    color: white;
    text-align: center;
    border-top-left-radius: 50%;
}

.footer-top {
    display: flex;
    justify-items: center;
    margin-top: 10px;
    font-size: 10px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 10px;
    font-size: 10px;
}

.icon-fb {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.icon-lkin {
    width: 50px;
    height: 25px;
    margin-top: 13px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sm {
    flex-basis: 50%;
}

.email {
    text-decoration: none;
}

.email:hover {
    color: rgb(183, 205, 214);
}

.bar-item-right,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: -1;
    border-radius: 5px;
}

.bar-item-right a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(245, 240, 240);
}

.bar-item-right a:hover {
    background-color: #C5C5C5;
}

.bar-item-right li:hover .submenu {
    display: block;
    max-height: 200px;
}

.submenu {
    max-height: 0;
    transition: all 0.5s ease-out;
    overflow: auto;
}

.me {
    width: 50px;
    height: 50px;
    border: solid .5px;
    border-radius: 50%;
    color: white;
    background-color: rgb(11, 17, 71);
    text-align: center;
    margin-right: 18px;
}

.me:hover {
    background-color: #C5C5C5;
}

.image-game:hover,
.footer-icon:hover {
    opacity: .8;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: fixed;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 60%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.image-container {
    display: flex;
    margin: 30px 30px;
    border-radius: 20px;
    background: white;
}

.imagee {
    margin-left: 22px;
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 50%;
    transform: rotate(90deg);
}

.image-game {
    position: absolute;
    right: 20px;
    bottom: 90px;
    height: 50px;
    width: 50px;
    position: fixed;
    border-radius: 50%;
}

.image-container-text {
    margin-left: 15px;
    margin-top: 35px;
}

.text-container {
    border-radius: 20px;
    padding: 20px;
    margin: 30px 30px;
    background: white;
}